:root{

    --color-principal:  #69d2e7;
    --color-secundario:  #aecbff;
    --color-acento:  #f1ecb2;
    --fondo-gris:  #eeeeee;

    --letra-negra:#222121;
    --letra-clara:#3b3b3b;

    font-family: "Segoe UI", "Roboto", Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

p{
    font-size: small;
    color: var(--letra-clara);
}
h2{
    font-size: medium;
}

h1, h2, h3 {
    color: var(--letra-negra);
    margin: 0;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
    cursor: pointer;
}

.boton{
    cursor: pointer;
    padding: 1rem;
    background-color: var(--color-acento);
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.boton:hover{
    transform: scale(1.1,1.1);
}