.informacion-Personal{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    align-items: flex-start;
    padding: 1rem;
    position: relative;
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
    border-top: 10px solid var(--color-principal);

}

.informacion-Personal h1{
    font-weight: 1000;
    color: var(--color-principal);
}

.img-info-container{
    width: 60%;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    height: auto;

}

.img-container{
    padding: 1rem;

}

.img-container img{
    height: auto;
    width: 12rem;
    border-radius: 1rem;
}

.Nombre-descripcion{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
}

.contactos-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0.7rem;
    padding: 1rem;
    gap: 1rem;
    width: 20%;
}

.contactos-container h2{
    color:var(--color-secundario);
    font-size: larger;
    font-weight: 900;
}

.contacto{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    text-align: center;
    align-items: center;
}

.contacto img{
    height: 2rem;
}

/*Secciones*/

.seccionPrincipal{
    padding: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    width: 100%;
    background-color: var(--fondo-gris);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0.7rem;
    background-color: white;
    padding: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
    align-items: center;
    min-height: 10rem;
    border: 0.7px solid white;
}

.card:hover{
    transform: scale(1,1);
    border: 0.7px solid var(--letra-negra);
}

.img-empresa img{
    width: 10rem;
    height: auto;
    border-radius: 0.5rem;
}
.info-extra{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 1rem;
}

/*Experiencia*/

.boton.ver-mas{
    height: 40%;
}

.img-empresa{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

/*Poryectos*/

.proyecto-img{
    
    min-height: 7rem;
}
