.informacion-Personal{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    align-items: flex-start;
    padding: 1rem;
    position: relative;
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
    border-top: 10px solid var(--color-principal);
    gap: 1rem;

}

.informacion-Personal h1{
    font-weight: 1000;
    color: var(--color-principal);
}

.img-info-container{
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    height: auto;

}

.img-container{
    padding: 1rem;

}

.img-container img{
    height: auto;
    width: 12rem;
    border-radius: 1rem;
}

.Nombre-descripcion{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
}

.contactos-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0.7rem;
    padding: 1rem;
    gap: 1rem;
    width: 20%;
}

.contactos-container h2{
    font-size: larger;
    font-weight: 900;
}

.contacto{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    text-align: center;
    align-items: center;
}

.contacto.gmail{
    cursor:default;
}
.contacto.gmail:hover{
    transform: scale(1,1);
}

.contacto img{
    height: 2rem;
}


.tecnologia{
    padding: 0.4rem;
    padding-left: 0;
    padding-right: 1rem;
    border-radius: 1rem;
}

.seccionPrincipal{
    padding: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    width: 100%;
    background-color: var(--fondo-gris);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0.7rem;
    background-color: white;
    padding: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
    align-items: center;
    min-height: 10rem;
    border: 0.7px solid white;
}

.card:hover{
    transform: scale(1,1);
    border: 0.7px solid var(--letra-negra);
}

.img-empresa img{
    width: 10rem;
    height: auto;
    border-radius: 0.5rem;
}
.info-extra{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 1rem;
}

/*Experiencia*/

.boton.ver-mas{
    display: none;
    height: 40%;
}

.img-empresa{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.img-info-container.nomade{
    align-items: center;
}

.img-empresa.nomade {
    height: 7rem;
}

.img-empresa.nomade img{
   overflow-y: hidden;

}

/*Poryectos*/

.proyecto-img{
    
    min-height: 7rem;
}

.img-info-container.proyecto{
    width: 80%;
}

/*Modales*/
.modal{
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.563);
    position: fixed;
    top: 50%;
    left: 50%;
        transform: translate(-50%,-50%);
    z-index: 1000;
}

.modal-contenedor{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1001;
    width: 65%;
    height: auto;
    background-color: white;

    display: flex;

    flex-direction: row;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
}

.titulo-info{
    width: 80%;
}

.titulo-info h1{
    font-size: 2rem;
    font-weight: 900;
}

.integrantes{
    width: 20%;
    gap: 0.5rem;
    padding-top: 0;
}


@media (max-width: 900px){

    .img-container {
        display: flex;
    align-items: center;
    justify-content: center;
}

    .seccionPrincipal{
        padding: 0.6rem;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
    .card{
        flex-direction: column;
        width: 100%;
        padding: 0.3rem;
        padding-top: 1rem;
    }

    .img-info-container{
        flex-direction: column;
        gap: 1rem;
    }

    .informacion-Personal{
        flex-direction: column;
        justify-content: center;
    }
}